# OpenAI API Configuration
OPENAI_API_KEY=

# Anthropic API Configuration
ANTHROPIC_API_KEY=

# Google AI API Configuration
GOOGLE_API_KEY=

# Multimodal Parser Configuration
MULTIMODAL_PARSER_PROVIDER=openai
MULTIMODAL_PARSER_MODEL=gpt-4o
MULTIMODAL_PARSER_REASONING_EFFORT=low
MULTIMODAL_PARSER_MERGE_TABLE=true
MULTIMODAL_PARSER_CREATE_HTML=true

# Frontend Configuration
FRONTEND_ORIGINS=*
BASE_URL=
